body {
    background-color: #0f131c;
    color: white;
}

section {
    margin-right: 50px;
    margin-left: 50px;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    display: flex;
    justify-content: center;
}

h3 {
    font-size: 1.2rem;
    display: flex;
}

.upcoming {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/astronaunt3.jpg);
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
}


.countdownBox {
    background-image: url(../images/moon.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    text-align: center;
}


.day, .hour, .minute, .second {
    font-size: 4rem;
    margin-bottom: -3px;
    display: flex;
}
